<!--
@using Agno.BlazorInputFile
-->
@using GridBlazor.Columns
@using GridBlazor.Resources
@using GridBlazor.Pages
@using GridShared
@using GridShared.Columns
@using GridShared.Utility

@typeparam T

<div class="modal" tabindex="-1" style="display:block" role="dialog">
    <div class="modal-dialog">
        <!--
            <CascadingValue Value=@this Name="GridDialogComponent">
    -->
        <!--
        <GridUpdateComponent @ref="GridUpdateComponent" T="@T"></GridUpdateComponent>
-->    
        <GridUpdateComponent T="@T"></GridUpdateComponent>

        <GridComponent T="@T"></GridComponent>

        <!--
            </CascadingValue>
    -->

    </div>
</div>