@page "/artistcomponent"

@using GridBlazor
@using GridBlazor.Pages
@using GridMvc.Demo.Resources
@using GridShared
@using GridShared.Utility
@using System
@using Microsoft.Extensions.Primitives
@using System.Globalization
@using System.Threading.Tasks
@using System.Timers
@using Rad.Models.Domian
@using Rad.Services
@using Rad.Dialogs

@implements IDisposable

@inject IModalService       modal
@inject IArtistService      artistService
@inject IAlbumService       albumService
@inject ITrackService       trackService
@inject IGenreService       genreService
@inject IMediaTypeService   mediaTypeService
@inject IInvoiceLineService invoiceLineService
@inject IPrintingService    printingService


@if (_task.IsCompleted)
{
    <div class="font-italic small">
        <div class="col-sm-12 table-sm">
            <GridComponent T="Artist" Grid="@_grid"></GridComponent>
        </div>
    </div>
    <button @onclick="Print">Print</button>
}
else
{
    <p><em>Loading...</em></p>
}

@code {
    private IGridClient<Artist> _client;
    private CGrid<Artist> _grid;
    private Task _task;
    private IGridClient<Track> _clientTrack;
    Timer timer;
    private GridComponent<Artist> _gridComponent;

    private void Print()
    {
        string err = "You must select the row you want to print";

        if (artist.ArtistId == 0)
        {

        }
        else
        {
            string rawHtml1 = null;

            IEnumerable<Album> albums = albumService.GetForAlbum(artist.ArtistId);

            foreach (var album in albums)
            {
                rawHtml1 = rawHtml1 + "<h2>Album - " + album.Title + "</h2>";

                IEnumerable<Track> tracks = trackService.GetForTrack(album.AlbumId);

                foreach (var track in tracks)
                {
                    string milliseconds = track.Milliseconds.ToString();
                    rawHtml1 = rawHtml1 + track.Name + " (" + milliseconds.Substring(0, 1) + ":" + milliseconds.Substring(2, 2) + ")</br>";
                }
            }

            string rawHtml = string.Join(
              Environment.NewLine,
              "<h1>Artist - " + artist.Name + "</h1>",
              rawHtml1
            );

            printingService.Print(rawHtml, PrintType.RawHtml);
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        Action<IGridColumnCollection<Artist>> artistColumns = c =>
        {
            c.Add(o => o.ArtistId, true).SetPrimaryKey(true).Titled(SharedResource.Number).SetWidth(50).SetCrudHidden(true);
            c.Add(o => o.Name, false);
        };

        Action<IGridColumnCollection<Album>> albumColumns = c =>
        {
            c.Add(o => o.AlbumId, true).SetPrimaryKey(true).Titled(SharedResource.Number).SetWidth(50).SetCrudHidden(true);
            c.Add(o => o.Title, false);
        };

        Action<IGridColumnCollection<Track>> trackColumns = c =>
        {
            c.Add(o => o.TrackId, true).SetPrimaryKey(true).SetWidth(50).SetCrudHidden(true);
            //            c.Add(o => o.AlbumId, false);

            c.Add(o => o.Name, false)

                    ;

            c.Add(o => o.MediaTypeId, false)
                  .SetWidth(250).RenderValueAs(o => o.MediaType == null ? "" : o.MediaType.Name)
                  .SetSelectField(true, o => o.MediaType == null ? "" : o.MediaType.MediaTypeId.ToString() + " - " + o.MediaType.Name,
                                  mediaTypeService.GetAllMediaType)
                  .SetListFilter(mediaTypeService.GetAllMediaType(), true, true)
            ;

            c.Add(o => o.GenreId, false)
                  .SetWidth(250).RenderValueAs(o => o.Genre == null ? "" : o.Genre.Name)
                  .SetSelectField(true, o => o.Genre == null ? "" : o.Genre.GenreId.ToString() + " - " + o.Genre.Name,
                                genreService.GetAllGenre)
                  .SetListFilter(genreService.GetAllGenre(), true, true)
            ;

            c.Add(o => o.Composer, false);
            c.Add(o => o.Milliseconds, true)
            //                  .Format("{0:n0}")
            ;

            //            c.Add(x => x.Milliseconds.ToString())
            //            .RenderValueAs(o => o.Milliseconds)
            //            .Titled("Milliseconds")
            //                .Format("{0:n0}")

            //                .Css("hidden-xs")
            //                .SetCellCssClassesContraint(o => o.Milliseconds < 0 ? "black" : "red")
            //                "{n}" +
            ;
            c.Add(o => o.Bytes, false).Format("{0:n0}");
            c.Add(o => o.UnitPrice, false).Titled("Price").Format("{0:C}");
            //            c.Add().RenderComponentAs(typeof(ButtonCell));
        };

        var locale = CultureInfo.CurrentCulture;
        SharedResource.Culture = locale;
        var query = new QueryDictionary<StringValues>();
        int withPaging = 10;

        Func<object[], Task<ICGrid>> subGrids1 = async keys =>
        {
            int albumId = Int32.Parse(keys[0].ToString());
            var subGridClient = new GridClient<Track>(q => trackService.GetTrack(trackColumns, query, withPaging, albumId),
                query, false, "trackGrid" + albumId, trackColumns, locale)
                .WithGridItemsCount()
                .Selectable(true)
                .Sortable(true)
                .SetHeaderCrudButtons(true)
                .Crud(true, false, true, true, trackService)
                .SetStriped(true)
            ;

            _clientTrack = subGridClient;

//            timer.Start();

            await subGridClient.UpdateGrid();
            return subGridClient.Grid;
        };

        Func<object[], Task<ICGrid>> subGrids = async keys =>
        {
            int artistId = Int32.Parse(keys[0].ToString());
            var subGridClient = new GridClient<Album>(q => albumService.GetAlbumId(albumColumns, query, withPaging, artistId),
                query, false, "albumGrid" + artistId, albumColumns, locale)
                .WithGridItemsCount()
                .Selectable(true)
                .Sortable(true)
                .SetHeaderCrudButtons(true)
                .Crud(true, false, true, true, albumService)
                .SubGrid(subGrids1, ("AlbumId", "AlbumId"))
                .SetStriped(true)
            ;

            await subGridClient.UpdateGrid();
            return subGridClient.Grid;
        };

        var client = new GridClient<Artist>(q => artistService.GetArtistGridRows(artistColumns, query, withPaging), query, false,
                "artistGrid", artistColumns, locale)
                .WithGridItemsCount()
                .ChangePageSize(true)
                .Searchable(true)
                .Selectable(true)
                .Sortable(true)
                .SetHeaderCrudButtons(true)
                .Crud(true, false, true, true, artistService)
                .SubGrid(subGrids, ("ArtistId", "ArtistId"))
                .SetStriped(true)
            ;

        _grid = client.Grid;
        _gridComponent = _grid.GridComponent;
        _task = client.UpdateGrid();
        _client = client;
        await _task;

        Start();
    }

    public void Start()
    {
        if (timer == null)
        {
            timer = new Timer();
            timer.Interval = 500;
            timer.Elapsed += TimerOnElapsed;
        }

        timer.Start();
    }

    Artist artist = new Artist();
    InvoiceLine invoiceLine = new InvoiceLine();

    protected async void OnRowClicked(object item)
    {
        Track track = null;

        if (item.GetType() == typeof(Artist))
        {
            artist = (Artist)item;
        }

        if (item.GetType() == typeof(Track))
        {
            track = (Track)item;

            if (invoiceLine.TrackId == track.TrackId)
            {
                IModalReference modalRef = modal.Show<DialogComponent>("My Movies");

                ModalResult result = await modalRef.Result;

                if (result.Cancelled)
                {
                    Console.WriteLine("Modal was cancelled");
                }
                else
                {
                    Console.WriteLine(result.Data);
                }
            }
            else
            {
                invoiceLine.TrackId = track.TrackId;
                invoiceLine.UnitPrice = track.UnitPrice;
                invoiceLine.Quantity = 1;
                invoiceLine.InvoiceId = 4;  //to-do
            }
        }
    }

    private void TimerOnElapsed(object sender, ElapsedEventArgs e)
    {
        if (timer != null && _gridComponent != null)
        {
            timer.Stop();
            timer.Dispose();

            _gridComponent.OnRowClicked = OnRowClicked;
        }
        else
            _gridComponent = _grid.GridComponent;
    }

    public void Dispose()
    {
        if (timer != null)
        {
            timer.Dispose();
            timer = null;
        }
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
        }
    }

}
