@page "/employeecomponent"

@using GridMvc.Demo.Resources
@using GridBlazor
@using GridBlazor.Pages
@using GridShared
@using GridShared.Utility
@using System
@using Microsoft.Extensions.Primitives
@using System.Globalization
@using System.Threading.Tasks
@using System.Timers
@using Rad.Models.Domian
@using Rad.Services

@inject IEmployeeService employeeService
@inject IPrintingService printingService


@if (_task.IsCompleted)
{
    <div class="font-italic small">
        <div class="col-sm-12 table-sm">
            <GridComponent T="Employee" Grid="@_grid"></GridComponent>
        </div>
    </div>
    <button @onclick="Print">Print</button>
}
else
{
    <p><em>Loading...</em></p>
}

@code
{
    private CGrid<Employee> _grid;
    private Task _task;
    Timer timer;
    private GridComponent<Employee> _gridComponent;

    private void Print()
    {
        string err = "You must select the row you want to print";

        if (employee.EmployeeId == 0)
        {

        }
        else
        {
            string reportTo = "";

            if (employee.ReportsTo != null)
                reportTo = employee.Employee_ReportsTo.FirstName + " " + employee.Employee_ReportsTo.LastName;

            string birthDate = string.Format("{0:d}", employee.BirthDate);
            string hireDate = string.Format("{0:d}", employee.HireDate);

            string rawHtml = string.Join(
              Environment.NewLine,
              "<h1>Employee</h1>" +
              "<h2>" + employee.FirstName + " " + employee.LastName + " (" + employee.Email + ")</h2>" +
              "<h3>" + employee.Title + "</h3>" +
              employee.Address + "</br>" +
              employee.City + ", " + employee.State + " " + employee.Country + " " + employee.PostalCode + "</br></br>" +
              "Birth Date: " + birthDate + " Hire Date: " + hireDate + "</br></br>" +
              "Phone: " + employee.Phone + "</br>" +
              "Fax: " + employee.Fax + "</br></br>" +
              "Report To: " + reportTo);

            printingService.Print(rawHtml, PrintType.RawHtml);
        }
    }


    protected override async Task OnParametersSetAsync()
    {
        Action<IGridColumnCollection<Employee>> employeeColumns = c =>
        {
            c.Add(o => o.EmployeeId, true).SetPrimaryKey(true).Titled(SharedResource.Number).SetWidth(50).SetCrudHidden(true);
            c.Add(o => o.FirstName, false);
            c.Add(o => o.LastName, false);
            c.Add(o => o.Email, false);
            c.Add(o => o.Title, false);
            c.Add(o => o.Address, false);
            c.Add(o => o.City, false);
            c.Add(o => o.State, false);
            c.Add(o => o.Country, false);
            c.Add(o => o.PostalCode, false);
            c.Add(o => o.BirthDate, false).Format("{0:yyyy-MM-dd}");
            c.Add(o => o.HireDate, false).Format("{0:yyyy-MM-dd}");
            c.Add(o => o.Phone, false);
            c.Add(o => o.Fax, false);
            c.Add(o => o.ReportsTo, false)
                  .SetWidth(250).RenderValueAs(o => o.Employee_ReportsTo == null ? "" : o.Employee_ReportsTo.FirstName + " " + o.Employee_ReportsTo.LastName)
                  .SetSelectField(true, o => o.ReportsTo == null ? "" : o.ReportsTo.ToString() + " - " +
                                   o.FirstName + " " + o.LastName,
                                   employeeService.GetAllEmployee)
                  .SetListFilter(employeeService.GetAllEmployee(), true, true)
            ;
        };

        var locale = CultureInfo.CurrentCulture;
        SharedResource.Culture = locale;
        var query = new QueryDictionary<StringValues>();

        var client = new GridClient<Employee>(q => employeeService.GetEmployeeGridRow(employeeColumns, query), query, false,
            "employeeGrid", employeeColumns, locale)
            .Sortable()
            .Filterable()
            .SetKeyboard(true)
            .Groupable(true)
            .ClearFiltersButton(true)
            .SetStriped(true)
            .WithMultipleFilters()
            .Searchable(true, false)
            .WithGridItemsCount()
            .ChangePageSize(true)
            .Selectable(true)
            .Crud(true, true, true, true, employeeService)
            .SetHeaderCrudButtons(true)
            .SetStriped(true)
            ;

        _grid = client.Grid;
        _gridComponent = _grid.GridComponent;
        _task = client.UpdateGrid();
        await _task;
        Start();
    }
    public void Start()
    {
        if (timer == null)
        {
            timer = new Timer();
            timer.Interval = 500;
            timer.Elapsed += TimerOnElapsed;
        }

        timer.Start();
    }

    Employee employee = new Employee();

    protected void OnRowClickedEmployee(object item)
    {
        if (item.GetType() == typeof(Employee))
        {
            employee = (Employee)item;
        }
    }

    private void TimerOnElapsed(object sender, ElapsedEventArgs e)
    {
        if (timer != null && _gridComponent != null)
        {
            timer.Stop();
            timer.Dispose();

            _gridComponent.OnRowClicked = OnRowClickedEmployee;
        }
        else
            _gridComponent = _grid.GridComponent;
    }

    public void Dispose()
    {
        if (timer != null)
        {
            timer.Dispose();
            timer = null;
        }
    }
}

