@code {
    protected void closeYes()
    {
    }

    protected void closeNo()
    {
    }
}

<div class="modal" tabindex="-1" style="display:block" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-group">
                    <strong><label for="Messsage" class="control-label">Message?</label></strong>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning" @onclick="@closeYes">Yes</button>
                <button class="btn btn-warning" @onclick="@closeNo">No</button>
            </div>
        </div>
    </div>
</div>

