<div class="simple-form">
    <button @onclick="SubmitForm" class="btn btn-primary">OK</button>
    <button @onclick="Cancel" class="btn btn-secondary">Cancel</button>
</div>

@code {
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }

    void SubmitForm()
    {
        ModalInstance.CloseAsync(ModalResult.Ok($"Form was submitted successfully."));
    }

    void Cancel()
    {
        ModalInstance.CancelAsync();
    }

}
