@page "/print"

@using Rad.Models.Domian
@using Rad.Services

<!-- 
@inject InvoiceRepository invoiceRepository
@inject InvoiceService invoiceService
-->
@inject IPrintingService printingService

<h3>Print</h3>

<!-- -->
@if (null != null)
{
    <p><em>Loading...</em></p>
}
else
{
    //    Task<Invoice> invoiceRepository.GetById(object id)
    //    public async Task<Invoice> invoiceService.Get(params object[] keys);

    string rawHtml = String.Join(
          Environment.NewLine,
          "<h1>Invoice - Leonie	Köhler</h1>",
          "<table><tr><th>Invoice Line</th></tr>",
          "<tr><td>1.00</td></tr></table>");

    <button @onclick="@(_ => printingService.Print(rawHtml, PrintType.RawHtml))">
        Print
    </button>
}

@code {

}
