@page "/print"

@using Rad.Models.Domian
@using Rad.Services

<!-- 
@inject IInvoiceRepository invoiceRepository
-->
@inject IInvoiceService invoiceService
@inject IPrintingService printingService

<h3>Print</h3>

<!-- -->
@if (null != null)
{
    <p><em>Loading...</em></p>
}
else
{
    Task<Invoice> invoice;
    int[] keys;

//    invoice = invoiceRepository.GetById(0);



    invoice = invoiceService.Get(0);
 

  //  var invoice2 = Task<Invoice>.invoiceService.Get(0);

    string rawHtml = String.Join(
          Environment.NewLine,
          "<h1>Invoice - Leonie	Köhler</h1>",
          "<table><tr><th>Invoice Line</th></tr>",
          "<tr><td>1.00</td></tr></table>");

    <button @onclick="@(_ => printingService.Print(rawHtml, PrintType.RawHtml))">
        Print
    </button>
}

@code {

}
