<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">Hello, @context.User.Identity?.Name</a><a href="adminpage">(@UserClaims(context).Id.ToString(claimValue))</a>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Register">Register</a>
        <a href="Identity/Account/Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    string claimValue = "n/a";

    public async Task UserClaims(AuthenticationState context)
    {
        foreach(var claim in context.User.Claims)
        {
            if (claim.Type.Length >= 7)
            {
                bool claimStart = claim.Type.ToLower().StartsWith("http://");
                bool claimEnd = claim.Type.ToLower().EndsWith("/role");

                if (claimStart == true && claimEnd == true)
                    claimValue = claim.Value;
            }
        }
        await Task.CompletedTask;
    }
}
