<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">Hello, @context.User.Identity?.Name</a><a href="adminpage">@UserClaims(context).Id.ToString(claimValue)</a>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Register">Register</a>
        <a href="Identity/Account/Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code {

    @inject IJSRuntime JsRuntime
    string messagePrompt = "";

    string claimValue = "";

    public async Task UserClaims(AuthenticationState context)
    {
        foreach(var claim in context.User.Claims)
        {
            messagePrompt += claim.Type + " : " + claim.Value  + "\n";

            if (claim.Type.Length >= 7)
            {
                bool claimStart = claim.Type.ToLower().StartsWith("http://");
                bool claimEnd = claim.Type.ToLower().EndsWith("/role");

                if (claimStart == true && claimEnd == true)
                {
                    if (claimValue.Length > 0)
                        claimValue +=  " - ";

                    claimValue += claim.Value;
                }
            }
        }

        if (claimValue.Length == 0)
            claimValue = "n/a";

        await Task.CompletedTask;
        await JsRuntime.InvokeVoidAsync("alert", messagePrompt);
    }
}
