<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Rad2 - Contoso</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
<AuthorizeView>
    <NotAuthorized>

    </NotAuthorized>
    <Authorizing>
        <p><em>Loading...</em></p>
    </Authorizing>
    <Authorized>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="departmentcomponent">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Department Component
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="instructorcomponent">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Instructor Component
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="studentcomponent">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Student Component
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="officeassignmentcomponent">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Office Assignment Component
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="foocomponent">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Foo Component
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="titlescomponent">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Titles Component
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="titlescrudcomponent">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Titles Crud Component
            </NavLink>
        </div>
    </Authorized>
</AuthorizeView>
<!--     -->
    <AuthorizeView Roles="Admin">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="rolepage">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Role Admin Only Page
            </NavLink>
        </div>               
    </AuthorizeView>                
    <AuthorizeView Policy="AdminPolicy">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="policypage">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Policy Admin Only Page
            </NavLink>
        </div> 
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
