@page "/t1component"

@using GridMvc.Demo.Resources
@using GridBlazor
@using GridBlazor.Pages
@using GridShared
@using GridShared.Sorting
@using GridShared.Utility
@using System
@using Microsoft.Extensions.Primitives
@using System.Globalization
@using System.Threading.Tasks
@using Rad4.Models.Domian
@using Rad4.Services

@inject IT1Service t1Service

@if (_task.IsCompleted)
{
    <div class="font-italic small">
        <div class="col-sm-12 table-sm">
            <GridComponent T="T1" Grid="@_grid"></GridComponent>
        </div>
    </div>
}
else
{
    <p><em>Loading...</em></p>
}
@code
{
    private CGrid<T1> _grid;
    private Task _task;

    protected override async Task OnParametersSetAsync()
    {
        Action<IGridColumnCollection<T1>> t1Columns = c =>
        {
            c.Add(o => o.Id, false).SetPrimaryKey(true, false).SetWidth(50).SetCrudHidden(true);
        };

        var locale = CultureInfo.CurrentCulture;
        SharedResource.Culture = locale;
        var query = new QueryDictionary<StringValues>();

        var client = GridClient(t1Columns, query, locale);

        _grid = client.Grid;
        _task = client.UpdateGrid();
        await _task;
    }

    IGridClient<T1> GridClient(Action<IGridColumnCollection<T1>> charactersColumns,
                                       QueryDictionary<StringValues> query,
                                       CultureInfo locale)
    {
        IGridClient<T1> subGridClient = new GridClient<T1>(q => t1Service.GetCharactersGridRow(charactersColumns, query),
                                                                           query, false, "t1Grid", charactersColumns, locale)
           .Sortable()
           .Filterable()
           .SetKeyboard(true)
           .SetStriped(true)
           .WithMultipleFilters()
           .Searchable(true, false)
           .WithGridItemsCount()
           .ChangePageSize(true)
           .Selectable(true)
           .SetHeaderCrudButtons(true)
           .Crud(true, false, true, true, t1Service)
           ;

        return subGridClient;
    }
}
