@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

@code {
    bool bArtist = true;

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            bArtist = true;
        }


    }
}

<div class="main">
    <!--
    <div class="top-row px-4">
    -->
    <div class="top-row px-4">

    @if (bArtist)
    {
            <a href="departmentcomponent">Department</a>

    }
        <!--
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        -->
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
